* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: opacity(50%);
    z-index: -1;
    /* width: auto;
    height: auto; */
}

#h1 {
    z-index: 1;
    text-transform: capitalize;
    font-size: 100px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(74, 61, 172);
    padding-top: 120px;
    text-shadow: 3px 3px 3px rgb(162, 173, 224);
}

.wrap {
    font-family: sans-serif;
    width: 500px;
    text-align: center;
    padding-left: 180px;
    margin: auto;
    z-index: 1;
}

.ele-wrap {
    width: 150px;
    height: 150px;
    display: block;
    /* margin: auto; */
    background: rgb(74, 61, 172);
    color: rgb(154, 157, 196);
    position: relative;
    top: 230px;
    border-radius: 50%;
    text-align: center;
    z-index: 1;
}

.h2-n {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 33px;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    z-index: 1;
}

.ele-wrap::before {
    content: '';
    position: absolute;
    left: -10px;
    top: -10px;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border: 10px solid rgb(154, 157, 196);
    border-radius: 50%;
    animation: animate 1.5s linear infinite;
    /* z-index: 1; */
    opacity: 0;
}

.ele-wrap::after {
    animation-delay: .4s;
    content: '';
    position: absolute;
    left: -10px;
    top: -10px;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border: 10px solid rgb(154, 157, 196);
    border-radius: 50%;
    animation: animate 1.5s linear infinite;
    /* z-index: 1; */
    opacity: 0;
}

@keyframes animate {
    0% {
        width: 150px;
        height: 150px;
        transform: scale(1);
    }
    50% {
        opacity: 1;
    }
    100% {
        width: 150px;
        height: 150px;
        opacity: 0;
        transform: scale(1.5);
    }
}